.floatingActionBtn {
  position: fixed;
  background-color: #4158d0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.25)
  );

  border-radius: 50%;
  border: none;
  bottom: 0px;
  right: 0px;
  margin: 2%;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.floatingActionBtn:hover {
  background-color: #4158d0;
  animation: waving 3s;
  animation-iteration-count: infinite;
}

@keyframes waving {
  0% {
    background-color: #4159d044;
  }
  33% {
    background-color: #c850c044;
  }
  66% {
    background-color: #ffcd7044;
  }
  100% {
    background-color: #4159d044;
  }
}
