.floatingContainer {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: deeppink;
  height: auto;
  width: auto;
}

.overLay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0));
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;

  backdrop-filter: blur(10px);
}
input[type="text"] {
  margin: 3%;
  resize: none;
  overflow: hidden;
  word-break: break-word;
}
