.floatingContainer {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 7px;
  padding: 1rem;
  height: auto;
  width: auto;
}

.overLay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;

  backdrop-filter: blur(4px);
}

input[type="text"] {
  margin: 3%;
  resize: none;
  overflow: hidden;
  word-break: break-word;
}
