.center {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 3%;
  margin: 0%;
}
:root {
  background-color: #4158d0;
  background-image: linear-gradient(
    45deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  height: 100%;
}

.spinner {
  border: 10px dotted white;
  filter: blur(0.5px);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.spinner:hover {
  animation: spin 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
